{% extends 'base.html' %}

{% block title %}
    Services
{% endblock title %}
{% block body %}
<h2>Our Mission</h2>
<p>
    We’re devoted to making better ice creams and bringing people together. It’s what gets us out of bed in the morning and keeps us up late at night. We believe that you can grow a business as a community of people, with artful attention to detail and the customer experience, and get continuously better at the same time. That REALLY great ice cream served perfectly in a sparkling and beautiful space, with attentive and in-the-moment service (we believe service is an art) brings people together and helps them connect. And that sometimes sparks fly. And that there should be more sparks flying, generally. We like to make people feel good.

</p>
{% endblock body %}